/* import */
@import url('/x/css-font');
@import url('/x/css-fontawesome');
@import url('/x/css-normalize');
@import url('/x/css-skeleton');

/* body */
body{background:#fff;font-family:'Open Sans',sans-serif;color:#555;}
h1,h2,h3,h4,h5,h6{font-family:'Open Sans',sans-serif;letter-spacing:0;}
ul{list-style:none;margin:0;}
li{margin-bottom:0;}
a{color:#6babe5;text-decoration:none;}
p,form{margin:0 0;}
p{word-wrap:break-word}

/* spacing */
button,
.button,
input,
textarea,
select,
fieldset,
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {margin-bottom:0;}

/* alerts */
.alert{position:relative;border-radius:5px;border:1px solid #ccc;padding:15px;margin:20px 0;}
.alert-dismissible{position:absolute;top:10px;right:10px;cursor:pointer;}
.alert-danger,.alert-failed{background-color:#f2dede;border-color:#ebccd1;color:#a94442;}
.alert-warning{background-color:#fcf8e3;border-color:#faebcc;color:#a66d3b;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3183b9;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#3c763d;}

/* badges */
.badge1{position:relative;}
.badge1[data-badge]:after {content:attr(data-badge);position:absolute;top:-6px;right:12px;font-size:9px;background:#ea6953;color:#fff;width:20px;height:20px;text-align:center;line-height:20px;border-radius:50%;}